.button{
    -fx-background-color: #4ACAC5;
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}


.text-field {
    -fx-border-color: #4ACAC5;
    -fx-border-width: 0 0 1 0; 
    -fx-background-color: transparent;
  }
.text-field:focused {
    -fx-border-color: #E76750;
    -fx-border-width: 0 0 1 0; 
    -fx-background-color: transparent;
  }

#scrollpane{
  -fx-border-color: #444;
}